@tailwind base;
@tailwind components;
@tailwind utilities;





* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat';

}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1, h2 {
  font-family: 'Oswald';
}

a {
  color: inherit;
  text-decoration: none;
}

